<div class="login-form__container">
  Текст
  {{!-- <div class="login-form__title">Вход</div>
  <div class="login-form__fields">
    {{> input/input type="text" label="Логин" name="login"}}
    {{> input/input type="password" label="Пароль" name="password"}}
  </div>
  <div class="login-form__actions">
    {{> button/button text="Войти" link="./chats.hbs" id="button__primary"}}
    {{> button/button text="Еще не зарегистрированы?" link="./registration.hbs" id="button__secondary"}}
    <a href="./404.hbs">404</a>
    <a href="./500.hbs">500</a>
  </div> --}}
{{{button}}}
</div>
