.input {
  &__label {
    font-size: small;
    color: var(--secondary-text);
    text-align: left;
    width: 35vh;
    margin-top:15px;
  }

  &__field {
    border: none;
    border-bottom: 1px solid var(--main-blue);
    width: 35vh;
    margin-top:15px;
  }
}
