---
title: 'Chat'
---

{{!< base}}
<main>
  <div class="chat">
    <div class="chat__list">
      <div class="chat__user">
        {{> avatar/avatar}}
        {{> button/button text='Изменить профиль' link="./user.hbs" id="button__secondary"}}
      </div>
    </div>
    <div class='chat__window'>
    </div>
  </div>
</main>
