---
title: 'Change password'
---

{{!< base}}
<main>
  <div class='login-form__container'>
    <div class="login-form__title">Изменить пароль</div>
    <div class="login-form__fields">
      {{> input/input type='password' label="Старый пароль" name="oldPassword"}}
      {{> input/input type='password' label="Новый пароль" name="newPassword"}}
      {{> input/input type='password' label="Повторите новый пароль" name="repeatPassword"}}
    </div>
    <div class="login-form__actions">
      {{> button/button text="Сохранить" link="./user.hbs" id="button__primary"}}
    </div>
  </div>
</main>
