.round {
  width: 7em;
  height: 7em;
  border: 2px solid var(--main-blue);
  border-radius: 50%;
  line-height: 7em; 
  text-align: center; 
  background: var(--avatar-background);
  margin-bottom: 15px;
}
