@import './../src/partials/button/button.css';
@import './../src/partials/input/input.css';
@import './../src/partials/avatar/avatar.css';

*{
  font-family: 'Tenor Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
background-color: #96c8fb;
background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
}

.login-form {
  &__container{
    width: 40vh;
    min-height: 50vh;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px rgba(72, 143, 251, 1);
    padding: 15px;
  }
  &__title{
    font-size: x-large;
    margin-top: 5vh;
    text-align: center;
  }
  &__fields{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  }
  &__actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

.error {
  &__text{
    font-size: large;
    color: rgba(255, 255, 255, 1);
    text-align: center
  }
  &__title{
    font-size: 300px;
    text-align: center;
    color: rgba(72, 143, 251, 1);
  }
}

.button-cintainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.chat {
  display: flex;
  width: 90%;
  height: 90vh;
  flex-direction: row;
  border: solid 1px rgba(72, 143, 251, 1);
  border-radius: 12px;
}
.chat  {
  &__window{
    /* width: 80%; */
    height: 100%;
  }

  &__list{
    width: 45vh;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
  }
  &__user{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}
