:root {
  --main-blue: rgba(72, 143, 251, 1);
  --avatar-background: rgba(228, 237, 253, 1);
  --form-background: rgba(255, 255, 255, 1);
  --error-red: red;
  --secondary-text: rgba(153, 153, 153, 1);
  --main-gradient-background: #96c8fb;
  --secondary-gradient-background: #ddbdfc;
}
